.bundle
.DS_Store
vendor/bundle/*
spec/dummy/db/schema.rb
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/solr/data/*
spec/dummy/solr/pids
spec/dummy/private/
spec/dummy/.sass-cache
