<div data-role="footer" id="display_form">
    <%= t('page.display_form') %>:
    <%= t('page.mobile_site') %> |
    <%= link_to t('page.pc_site'), page_show_pc_site_path, "data-role" => "none" %>
</div>
