  <td>
    <nobr><label><%= t('activerecord.models.classification') -%>:</label></nobr>
  </td>
  <td>
  <table id="bless">
    <% classification = {}; classification[:classification_id] = 2 -%>
      <tr id="CLASSIFICATION" >
        <% if SystemConfiguration.get("manifestation.search.use_classification_type") %>
          <div>
            <%= select_tag("classifications[][classification_type_id]",  options_from_collection_for_select(@classification_types, :id, :display_name), :class => "type_select") %>
          </div>
        <% end %>
        <div>
          <%# TODO 分類型を使用しない場合のSELECT2フォーム %>
          <%= search_field_tag "classifications[][classification_identifier]", classification[:classification_identifier], :id => "classifications_classification_identifier", :class => "type_select", :value => @classification_mobile %>
        </div>
        <div>
          <%= link_to t('activerecord.attributes.search.classification_search'), classifications_search_category_path(mobile: true), "data-ajax" => "false" %>
        </div>
      </tr>
  </table>
  </td>
