<%= render 'page/header' %>

<div data-role="content">
  <% if user_signed_in? %>
    <% if manifestation.reservable? && Setting.operation %>
      <%- if manifestation.reservable_with_item?(current_user) -%>
        <%= link_to t('activerecord.models.reserve'), new_user_reserve_path(current_user, :manifestation_id => manifestation.id), "data-role" => "button" -%>
      <%- end -%>
    <% end %>
  <% end %>

  <%= render 'title', :manifestation => @manifestation %>
  <%= render 'manifestations/show_detail_user', :manifestation => @manifestation %>
</div>
