<%= render 'page/header' %>

<div data-role="content">
  <%= render 'title', :manifestation => @manifestation %>
  <%= render 'manifestations/show_detail_user', :manifestation => @manifestation %>
</div>
