<div id="content_detail" class="ui-corner-all ui-widget-content">
<h1 class="title"><%= t('update_item.title') -%></h1>
<div id="content_list">
  <div id="item_list">
    <%= render 'list_bulk_edit' -%>
  </div>
</div>
</div>

<div id="submenu" class="ui-corner-all ui-widget-content">
  <ul>
    <li><%= link_to t('page.back'), accepts_path -%></li>
  </ul>
</div>
