li.mobile_pagination{
  line-height: 100%;
}

div#header_mobile{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

div#library_system_name_mobile{
  width: 100%;
  text-align: center;
  margin-bottom: 22px; 
}

#header_left_mobile{
  top: 50%;
  margin-top: -1em;
}

div#content_mobile{
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  clear: both;
  min-width: 200px;
}

div#header_right_mobile{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.5em;
  width: 100%;
  font-size: 80%;
}

.right_align{
  text-align: right;
}

h1.resource_title_mobile{
  line-height: 140%;
  text-align: center;
}

h2.resource_title_mobile{
  line-height: 140%;
  text-align: center;
}

h3.resource_title_mobile{
  line-height: 140%;
  text-align: center;
}

.input_field{
  padding-top: 10px;
  padding-bottom: 10px;
}

#form_width{
  width: 100%;
  padding-bottom: 0;
}

.holding{
  padding: 1em;
}

div#display_form{
  text-align: center;
  padding: 1em;
}

td.label{
  height: 30px;
  white-space: nowrap;
}
hr.dash_line{
  border: 1px dashed #bbb;
  height: 0px;
}
table#advanced_search {
  width: 100%;
  border-collapse: collapse;
}
table#advanced_search tr td{
  border-bottom: 1px solid;
  border-color: grey;
}
table#advanced_search > tr > td > label{
  margin-left: 10px;
}

table#advanced_search > tr > td > div {
  margin: 5px;
  display: inline-block;
}
.ui-input-search {
  width: 95%;
}
.except_text_field{
  width: 80%;
}
.date_text_field{
  ime-mode: disabled;
  width: 70%;
}
.num_text_field{
  width: 100px;
}

/* bestreader,request */
.thumbnail{
  float: left;
  width: 30%;
  min-height: 55px;
}
.count_field{
  float: left;
  width: 30%;
  padding: 10px;
}
.best_list{
  clear: both;
}
.list_detail{
  padding-left: 20px;
}

.type_select_multiple{
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_column{
  border: solid;
  border-width: 1px 0px;
}

.ui-input-has-clear{
  padding-right: 5%;
}
